# Python
agent_api_endpoints.json
__pycache__
*.pyc
*.egg-info
dist
.venv
keys.env

# Log
*.log
*.log.*
*.json
!playground/deepspeed_config_s2.json
!playground/deepspeed_config_s3.json
!evaluation/**/*.json
!evaluation/**/*.csv

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
checkpoints_flant5_3b
.gradio/

# Data
*.pkl
*.csv
!evaluation/**/*.csv
tests/state_of_the_union.txt

# Build
build

# Image data
serve_images
val2014
vqa_examples