# Python
__pycache__
*.pyc
*.egg-info
dist
.venv

# Log
*.log
*.log.*
*.json
!playground/deepspeed_config_s2.json
!playground/deepspeed_config_s3.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
checkpoints_flant5_3b

# Data
*.pkl
*.csv
tests/state_of_the_union.txt

# Build
build

# Checkpoints
best_model
checkpoints
vicuna_checkpoints
vicuna_checkpoints_1

# Jupyter notebook files
.ipynb_checkpoints
load_peft_model.ipynb
random_things.ipynb

# training files
test_lora.py
test_lora.sh 
train_lora_original.py
train_lora_original.sh
train_lora_update.py
train_lora_update.sh




