version: "3.9"

services:
  fastchat-controller:
    build:
      context: .
      dockerfile: Dockerfile
    image: fastchat:latest
    ports:
      - "21001:21001"
    entrypoint: ["python3.9", "-m", "fastchat.serve.controller", "--host", "0.0.0.0", "--port", "21001"]
  fastchat-model-worker:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - huggingface:/root/.cache/huggingface
    image: fastchat:latest
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    entrypoint: ["python3.9", "-m", "fastchat.serve.model_worker", "--model-names", "${FASTCHAT_WORKER_MODEL_NAMES:-fastchat-t5-3b-v1.0}", "--model-path", "${FASTCHAT_WORKER_MODEL_PATH:-lmsys/fastchat-t5-3b-v1.0}", "--worker-address", "http://fastchat-model-worker:21002", "--controller-address", "http://fastchat-controller:21001", "--host", "0.0.0.0", "--port", "21002"]
  fastchat-api-server:
    build:
      context: .
      dockerfile: Dockerfile
    image: fastchat:latest
    ports:
      - "8000:8000"
    entrypoint: ["python3.9", "-m", "fastchat.serve.openai_api_server", "--controller-address", "http://fastchat-controller:21001", "--host", "0.0.0.0", "--port", "8000"]
  fastchat-gradio-multi:
    build:
      context: .
      dockerfile: Dockerfile.gradio
    depends_on:
      - fastchat-controller
      - fastchat-model-worker
    image: fastchat:latest
    ports:
      - "7860:7860"
    entrypoint: ["dockerize", "-wait", "tcp://fastchat-model-worker:21002", "-timeout", "1m", "python3.9", "-m", "fastchat.serve.gradio_web_server_multi", "--controller-url", "http://fastchat-controller:21001", "--host", "0.0.0.0", "--port", "7860"] 
volumes:
  huggingface:
