numpy==1.24.2
torch==2.0.1
accelerate==0.20.3
peft==0.2.0
sentencepiece==0.1.97
tensorizer==1.0.1
jinja2==3.1.2
deepspeed==0.8.3
transformers>=4.31
prompt_toolkit==3.0.39
markdown-it-py<=3.0.0
mdurl==0.1.2
pygments==2.16.1
rich<=13.5.2
safetensors==0.3.2
gradio==3.40
plotly<=5.16.0
fschat
